<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport"
     content="width=device-width, initial-scale=1, user-scalable=yes">
  <title>{{ episode.subject }}</title>
  <style>
body {
   text-align: center;
}
#content {
   margin: auto;
   width: 680px;
}
@media screen and (max-width: 700px) {
    #content {
       width: 480px;
    }
}
@media screen and (max-width: 500px) {
    #content {
       width: 280px;
    }
}

#header {
  text-align: left;
}

.chapter {
  text-align: left;
}
.author img {
  width: 80px;
  float: right;
  margin: 10px;
}

#editor img {
  width: 80px;
  float: right;
  margin: 10px;
}
  </style>
</head>
<body>
<div id="content">
<h1>{{ episode.subject }} #{{ episode.issue }}</h1>
<div id="editor">
Published on {{ episode.date }} by {{ episode.editor.name }}
<img src="https://developer-weekly.com/{{ episode.editor.img }}"/>
</div>

View this message on <a href="https://developer-weekly.com/archive/{{ episode.issue }}">our web site</a>.

<div id="header">
{% for row in episode.header %}
   {{ row }}<br>
{% endfor %}
</div>

{% for ch in episode.chapters %}
  <hr>
  <div class="chapter">
    <h2>{{ ch.title }}</h2>
    {% for e in ch.entries %}
       <div class="episode">
           <h3><a href="{{ e.url }}">{{ e.title }}</a></h3> 
           {% if e.author %}
               <div class="author">
                   by <a href="{{ e.author.linkedin }}">{{ e.author.name }}</a><br>
                   {% if e.author.img %}
                       <img src="https://developer-weekly.com/{{ e.author.img }}"/>
                   {% endif %}
               </div>
           {% endif %}
           {{ e.text }}
       </div>
    {% endfor %}
  </div>
{% endfor %}

</div>
<div id="footer">
<a href="*|UNSUB|*">Unsubscribe from this list.</a>
<br>
*|LIST:DESCRIPTION|*
<br>
*|REWARDS|*
</div>

{% include "google_analytics.html" %}

</body>
</html>
